.animate
{
   text-transform: uppercase;
  background-image: linear-gradient(
    0deg,
    #008080 0%,
    #fff 85%,
    #008080 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3.2s linear infinite;
  display: inline-block;
      /* font-size: 30px; */
      font-family: 'kohob';
      text-align: center;
}

@keyframes textclip {
  to {
    background-position: center 500px;
  }
}