@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: kohob;
    src: url(../../public/fonts/KoHo-Bold.ttf);
}
@font-face {
    font-family: kohol;
    src: url(../../public/fonts/KoHo-Light.ttf);
}
@font-face {
    font-family: quikr;
    src: url(../../public/fonts/Quicksand-Regular.ttf);
}