.text{
    color: white;
            font-size: 48px;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #008080;
            font-family: 'kohob';
            text-align: center;

}